


h1 {
text-align: center;
color: black;
font-size: 200%;
}
h3 {
text-align: center;
color: black;

}
body { 
   background-color: white;
}
#navbar {
  
  text-color: black;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding-right: 50px;

}

nav li {
    width: 20%;
    border-right 1px solid black;
    height: 50px;
    line-height: 50px;
    font-size: 140%;
    display: inline-block; 
    text-align: center;
    margin: 25 auto;
    line-height: 50px;
    margin-right: -4px;
}
nav a:hover {
    
}
#man {
   position: center;
   width: 20%; 
   display: block; 
   margin: 0 auto; 
}
.hr {
  position: relative;
  color: black;
}
footer {
text-align: center;
color: black;
margin: 100px;

}
p {
text-align: center;  
color: black;
margin: 100px;
font-size: 200%;
}
a {
display: block;
color: blue;
text-decoration: none;
text-align: center;
}
a:hover {
background-color: purple;
}

